/* Stylesheet for Dustin Clark's Portfolio
----------------------------------------------------
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-size: 1.6rem;
}

.construction { 
	position: fixed; 
	min-height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.95);
	z-index: 1;
	color: white;
	text-align: center;
	padding-top: 200px;
/*	display: none;*/
}

/* 
------------------------------ Navigation
*/
.nav-absolute {
	background-color: #14080e;
}



.nav-links {
	padding: 1.5rem;
}

nav a {
	color: #eaeaea;
	font-size: 2rem;
	padding: 1.5rem;
}

.menu-icon, .close-icon {
	padding: 1.5rem;
}

.dropdown {
	background-color: #14080e;
}


/*
------------------------------------------- splash
*/

#home{
	background-image: url(images/bushes-dark.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover; 
	color: #eaeaea;
	min-height: 100%;
}

.arrow-down {
	position: absolute;
	bottom: 5px;
}


/* 
--------------------------------------------- projects
*/
#projects h2{
	padding: .5rem;
	color: #14080e;
	border-left: 3px solid;
	border-bottom: 3px solid;
}


/*
----------------------------------------------- skills
*/
#skills-head {
	min-height: 30%;
	background-color: #14080e;
}

#skills-head h2 {
	color: #eaeaea;
	padding: .5rem;
	border-left: 3px solid;
	border-bottom: 3px solid;
}






/* 
----------------------------------------------- about
*/
#about {
	background-color: #;
}

#about h2{
	padding: .5rem;
	color: #14080e;
	border-left: 3px solid;
	border-bottom: 3px solid;
}


/* 
----------------------------------------------- contact
*/


footer {
	text-align: center;
	padding: 40px 0px;
	background-color: #14080e;  
	color: #fafafa;
}





/* Media Queries

----------------------------------------------------
*/
