/* Stylesheet for Dustin Clark's Portfolio
----------------------------------------------------
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-size: 1.6rem;
}

/* 
------------------------------ Navigation
*/
.nav-absolute {
	background-color: #14080e;
}



.nav-links {
	padding: 1.5rem;
}

nav a {
	color: #eaeaea;
	font-size: 2rem;
	padding: 1.5rem;
}

.menu-icon, .close-icon {
	padding: 1.5rem;
}

.dropdown {
	background-color: #14080e;
}


/*
------------------------------------------- splash
*/

#home{
	background-image: url(images/bushes.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover; 
	color: #14080e;
	min-height: 100%;
}

.box {
	background-color: rgba(255,255,255,0.7);
	padding: 40px;
	border-radius: 50%
}

.arrow-down {
	position: absolute;
	bottom: 5px;
}


/* 
--------------------------------------------- projects
*/
#projects h2{
	padding: .5rem;
	color: #14080e;
	border-left: 3px solid;
	border-bottom: 3px solid;
}

#projects img{
	box-shadow: 0px 5px 10px #000000;
	margin-bottom: 10px;
}


/*
----------------------------------------------- skills
*/
#skills-head {
	min-height: 30%;
	background-color: #14080e;
}

#skills-head h2 {
	color: #eaeaea;
	padding: .5rem;
	border-left: 3px solid;
	border-bottom: 3px solid;
}






/* 
----------------------------------------------- about
*/
#about {
	background-color: #;
}

#about h2{
	padding: .5rem;
	color: #14080e;
	border-left: 3px solid;
	border-bottom: 3px solid;
}

.me {
	height: 300px;
	border: 2px solid #000000;
}

.about-text p{
	font-size: 2.4rem;
}


/* 
----------------------------------------------- contact
*/


footer {
	text-align: center;
	padding: 40px 0px;
	background-color: #14080e;  
	color: #fafafa;
}





/* Media Queries

----------------------------------------------------
*/
