/* Stylesheet for Dustin Clark's Portfolio
----------------------------------------------------
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
}

.construction { 
	position: fixed; 
	min-height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.95);
	z-index: 1;
	color: white;
	text-align: center;
	padding-top: 30%;
}

/* 
------------------------------ Navigation
*/
.nav-absolute {
	background-color: #050505;
}

.nav-links {
	padding: 1.5rem;
}

nav a {
	color: white;
	font-size: 2.4rem;
	padding: 1.5rem;
}

.menu-icon, .close-icon {
	padding: 1.5rem;
}

.dropdown {
	background-color: black;
}






/* Home Jumbotron
----------------------------------------------------
*/

#home.jumbo{
	background-image: url(images/bushes-dark.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover; 
	color: #fafafa;
	min-height: 100%;
	padding: 1rem 0 0 2rem
}






/* About Me Grid
----------------------------------------------------
*/

#about {
	background-color: #ffffff;;
}

#about h1 {
	border: 5px #00000 solid;
}

.about-text {
	
}





/* Education Grid
----------------------------------------------------
*/

#ed {
	background-color: #838383;
}





/* Porjects Grid
----------------------------------------------------
*/

#projects {
	background-color: #737373;
}





/* Contact Jumobo
----------------------------------------------------
*/

#contact.jumbo{
	background-color: #636363;
	min-height: 100%
}

.white {
	background-color: #ffffff;
	border-radius: 10px;
}




footer {
	text-align: center;
	padding: 20px 0px;
	background: #050505;
	color: #fafafa;
}





/* Media Queries

----------------------------------------------------
*/
