@use "index" as *;

.dark-mode {
	--body-bg: #{$dark};
	--body-color: #{$dark};

  --skip-color: #{$accent};
  --skip-bg: #{$dark};
  --skip-border: #{$accent};

	--heading-color: #{$light};
	
	--btn-primary-bg: #{$primary};
	--btn-primary-color: #{$dark};
	--btn-primary-bg-hover: #{$secondary};
	--btn-primary-color-hover: #{$light};
	--btn-secondary-bg: #{$secondary};
	--btn-secondary-color: #{$light};
	--btn-secondary-bg-hover: #{$accent};
	--btn-secondary-color-hover: #{$dark};

	--circle-color: #{$primary};
	
	--box-border: #{$secondary};

	--content-bg: #{$primary};

	--subheading-line: #{$dark};

	--skillbox-bg: #{$secondary};
	--skillbox-color: #{$light};

	--dot-color: #{rgba($light, 10%)};

	--settings-bg: #{$accent};
	--settings-color: #{$dark};

	--header-bg: #{$dark};
	--header-icon: #{$light};
	--header-list-bg: #{rgba($dark, 90%)};

	--hero-content-bg: #{rgba($dark, 90%)};
	--hero-content-color: #{$light};

	--about-bg: #{$gray-dark};

	--projects-bg: #{$gray-dark};
	--project-links: #{$dark};
	--project-links-hover: #{$secondary};

	--contact-bg: #{$gray-dark};
	--contact-line: #{$primary};

	--footer-bg: #{$secondary};
	--footer-color: #{$light};
}
