@use "index" as *;

/*------------------------------*\
#HERO
\*------------------------------*/
.hero {
  position: relative;
  height: 60vh;
  height: 60dvh;
  overflow: hidden;

  @media (min-width: $breakpoint-md) {
    height: 100vh;
    height: 100dvh;
  }
  
  &__inner {
		@include contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }
  
  &__content {
    @include content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 48px 36px;

		@media (min-width: $breakpoint-lg) {
			width: 60%;
			padding: 48px;
		}
  }
  
  &__heading {
    @include hypertext(
      var(--hypertext-color-1),
      var(--hypertext-color-2),
      var(--hypertext-color-3)
    );
    order: 1;
    font-size: 48px;
    color: var(--body-color);
    text-transform: uppercase;
    line-height: .9;
    font-family: 'Megrim', mono;
		margin-left: -5px;
    margin-block: 10px;

		@media (min-width: $breakpoint-md) {
			font-size: 72px;
		}
		@media (min-width: $breakpoint-xl) {
			font-size: 96px;
		}

    & span {
      display: block;
    }
  }
  
  &__subheading {
    order: 0;
    font-size: 22px;

    @media (min-width: $breakpoint-lg) {
			font-size: 28px;
		}
  }

  &__copy {
    order: 2;
  }
  
  &__buttons {
    margin-top: 24px;
    display: flex;
		justify-content: center;

		@media (min-width: $breakpoint-lg) {
			justify-content: flex-start;
		}
    
    .btn {
      &:not(:last-of-type) {
				margin-right: 24px;
			}
    }
  }
}

@mixin genCircle {
  position: absolute;
  border-radius: 100%;
  border-style: solid;
}

.circles {
	position: fixed;
	z-index: -1;
	width: 100%;
	top: 0;
	right: -350px;
	bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  @include genCircle;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@for $i from 1 through 25 {
  $speed: calc(100/random(30));
  
  .circle--#{$i} { 
    animation: circle #{$speed}s linear infinite;
    border-width: random(15) + px;
    border-color: transparent var(--circle-color) transparent transparent;
    height: random(110) + 1%;
    opacity: calc((random(10) / 10) + 0.1);
    aspect-ratio: 1 / 1;
		transform: rotate(random(360) + deg);
  }
}

.circle-reverse {
  animation-name: circle-reverse;
}
