@use "variables" as *;

@mixin grid() {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: $gap;
}


@mixin contain() {
	width: 100%;
	max-width: $container-lg;
	margin-inline: auto;

	@media (min-width: $container-xl) {
    max-width: $container-xl;
  }
}
