// STARS
.stargroup{
	background: radial-gradient(ellipse at top, $dark-primary-darken 0%, #000 100%);
	height: 100vh;
	width: 100%;
}

@function generateStars ($n) { 
  $value: '#{random(2000)}px #{random(2000)}px #eae8ff';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #eae8ff';
	}
  @return unquote($value);
}

$stars-small:  generateStars(1000);
$stars-medium: generateStars(400);
$stars-big:    generateStars(100);

#group1 {
	box-shadow: $stars-small;
	width: 1px;
	height: 1px;
	animation	: stardrop 75s linear infinite;
	animation-delay:-25s;
	}
#group2 {
	box-shadow: $stars-medium;
	width: 2px;
	height: 2px;
	animation	: stardrop 100s linear infinite;
	animation-delay:-20s;
}
#group3 {
	box-shadow: $stars-big;
	width: 3px;
	height: 3px;
	animation: stardrop 125s linear infinite;
	animation-delay:-20s;
}

@keyframes stardrop {
	from { transform: translateY(-2000px) }
	to { transform: translateY(0) }
}