// light mode
$black: #252525;
$yellow: #fffa99;
$white: #F5F2F8;
$primary: #BBA1CE;
$primary-lighten: #E2D7EA;
$primary-darken: #956CB2;

$dark-black: #0e060d;
$dark-yellow: #B3B752;
$dark-white: #eae8ff;
$dark-primary: #331832;
$dark-primary-lighten: #452144;
$dark-primary-darken: #2A1429;

