/*
------------------------------ Imports and mixins
*/
/* 
------------------------------ General
*/
body {
  font-family: "Ubuntu", sans-serif;
  color: #394b51;
}

.section-head {
  width: 60%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#fffdd8), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #fffdd8, rgba(0, 0, 0, 0));
  padding: 1em;
  text-align: center;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.section-head:hover {
  width: 100%;
}

.section-head h2 {
  font-weight: 300;
}

.grid-container {
  padding: 35px 10px;
}

.toTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 48px;
  color: #394b51;
}

/* 
------------------------------ Navigation
*/
.nav-absolute {
  background-color: #dec5e3;
}

.nav-container-960 {
  padding: 5px;
}

@media (min-width: 768px) {
  .nav-container-960 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav-links {
  padding: 15px 0;
}

nav a {
  color: #394b51;
  font-size: 1.5em;
  padding: 0 10px;
}

.nav-links a:hover {
  border-bottom: 3px solid #fafafa;
}

.menu-icon,
.close-icon {
  padding: 0.5em;
  font-size: 24px;
}

.dropdown {
  background-color: #dec5e3;
}

.nav-logo {
  width: 3.5em;
}

/*
-------------------------------------- splash
*/
#home {
  background-image: url(../images/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
}

#home h1 {
  color: #394b51;
  font-size: 4em;
}

#home h2 {
  color: #394b51;
  font-size: 1.5em;
}

.gems {
  margin-top: 1em;
  height: 100px;
  -webkit-animation: rotateMe 2s infinite linear;
          animation: rotateMe 2s infinite linear;
}

@-webkit-keyframes rotateMe {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotateMe {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* 
---------------------------------------- about
*/
#about {
  background-color: #f0f0f0;
}

#about .me {
  max-width: 90%;
  border: 2px solid #394b51;
  border-radius: 50%;
}

#about .about-text {
  font-size: 1.5em;
  color: #394b51;
}

/*
------------------------------------- skills
*/
#skills {
  background-color: #dec5e3;
}

.skill-box {
  margin: 1em 0;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.skill-box p {
  text-align: right;
  padding: 0 1em;
  font-size: 1em;
  white-space: nowrap;
}

.new-skills--header {
  font-size: 24px;
}

.new-skills--text {
  font-size: 18px;
}

/* 
----------------------------------- projects
*/
#projects {
  background-image: url(../images/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#projects h3 {
  font-size: 1.3em;
}

#projects img {
  -webkit-box-shadow: 0px 3px 6px #000000;
          box-shadow: 0px 3px 6px #000000;
  margin-bottom: 10px;
  min-width: 100%;
}

/* 
------------------------------------- contact
*/
#contact {
  background-color: #f0f0f0;
}

.contact-box {
  background-color: #cdedfd;
  border-radius: 5px;
  text-align: center;
  padding: 1em;
}

.contact-box:hover {
  background-color: #fffdd8;
}

/* 
------------------------------------- footer
*/
footer {
  text-align: center;
  padding: 40px 0px;
  background-color: #dec5e3;
  color: #394b51;
}

/* 
------------------------------------- Media Queries
*/
@media (min-width: 300px) {
  .sbar {
    padding: 1em 0;
    border-radius: 5px;
    background-color: #cdedfd;
  }
  .html-bar,
  .css-bar {
    width: 90%;
  }
  .js-bar,
  .less-bar,
  .sass-bar,
  .bs-bar {
    width: 50%;
  }
  .ps-bar,
  .ade-bar,
  .jq-bar {
    width: 40%;
  }
  .ucl-bar,
  .git-bar {
    width: 30%;
  }
  .nav-container-fw {
    padding: 0 0.5em;
  }
}

@media (min-width: 768px) {
  .nav-links li:nth-child(2) {
    margin-right: 100px;
  }
  .nav-logo {
    position: absolute;
    top: 5px;
    width: 75px;
    max-height: 75px;
    border: 1px solid #394b51;
  }
  .sbar {
    width: 0px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
  .skill-box:hover .html-bar,
  .skill-box:hover .css-bar {
    width: 90%;
  }
  .skill-box:hover .js-bar,
  .skill-box:hover .less-bar,
  .skill-box:hover .sass-bar,
  .skill-box:hover .bs-bar {
    width: 50%;
  }
  .skill-box:hover .ps-bar,
  .skill-box:hover .ade-bar,
  .skill-box:hover .jq-bar {
    width: 40%;
  }
  .skill-box:hover .ucl-bar,
  .skill-box:hover .git-bar {
    width: 30%;
  }
}
/*# sourceMappingURL=main.css.map */