/*
------------------------------ Imports and mixins
*/
@import "_variables.scss";


/* 
------------------------------ General
*/
body {
	font-family: "Ubuntu", sans-serif;
	color: $black;
}

.section-head {
	width: 60%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(255,250,153), rgba(0, 0, 0, 0));
	padding: 1em;
	text-align: center;
	transition: width 0.5s;
	margin-bottom: 15px;
	

	&:hover {
		width: 100%;
	}

	h2 {
		
		font-size: 24px;
	}
}

.grid-container {
	padding: 75px 10px 75px 10px;
}

.stargroup {
	display: none;
	position: fixed;
	z-index: -1;
}

.toTop {
	position: fixed;
	bottom: 15px;
	right: 15px;
	font-size: 48px;
	color: $black;
	opacity: 0.5;
	animation: bounce 2s infinite linear;
	&:hover {
		opacity: 1;
	}
}
.toggleMode {
	position: fixed;
	bottom: 15px;
	left: 15px;
	font-size: 48px;
	color: $black;
	opacity: 0.5;
	animation: bounce 1.5s infinite linear;
	&:hover {
		opacity: 1;
	}
}

@keyframes bounce {
	from { transform: translateY(0) }
	to { transform: translateY(-10px) }
}


/* 
------------------------------ Navigation
*/
header {
	background-color: $primary;
}

.navbar {
	padding: 10px;
}

.nav-list a {
	color: $black;
	font-size: 18px;
	text-decoration: none;
	
}

.nav-list li {
	padding: 10px;
}

.nav-list a:hover {
	border-bottom: 3px solid $white;
}

.nav-icon {
	top: 25px;
	right: 10px;
	&--menu,
	&--close {
		font-size: 24px;
	}
}

.nav-list {
	background-color: $primary;
}

.nav-logo img {
	width: 3.5em;
	border-radius: 50%;
}

/*
-------------------------------------- splash
*/

#home {
	background-image: url(../images/bg.png);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 95%;

	h1 {
		color: $black;
		font-size: 4em;
	}

	h2 {
		color: $black;
		font-size: 1.5em;
	}
}

.gems {
	margin-top: 1em;
	height: 100px;
	animation: rotateMe 2s infinite linear;
}

@keyframes rotateMe {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-15deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

/* 
---------------------------------------- about
*/
#about {
	background-color: $white;

	.me {
		max-width: 60%;
		border: 2px solid $black;
		border-radius: 50%;
	}

	.about-text {
		font-size: 20px;
		color: $black;
	}
}



/* 
----------------------------------- projects
*/
#projects {
	background-image: url(../images/bg.png);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	
	.project {
		&:not(:last-of-type) {
			@media(min-width:768px) {
				margin-bottom: 50px;
			}
		}
		&:nth-child(even) {
			@media(max-width: 768px) {
				flex-direction: column-reverse;
			}
		}
	}

	

	h3 {
		font-size: 24px;
		font-style: italic;
	}

	p {
		@media(min-width:768px) {
			font-size: 18px;
			padding: 0 10px;
			margin: 3px 0;
		}
	}

	img {
		box-shadow: 0px 3px 6px $black;
		margin-bottom: 10px;
		min-width: 100%;
	}
}


/*
------------------------------------- skills
*/
#skills {
	background-color: $white;
}

.resume {
	div {
		background-color: $primary-lighten;
		border-radius: 3px;
	}
	h3 {
		font-size: 20px;
		background-color: $primary;
		padding: 10px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		text-align: right;
		
	}
	p {
		
		text-transform: lowercase;
		letter-spacing: .5px;
		padding: 15px;
		margin: 3px 0;
	}
	&--heading {
		font-size: 18px;
		color: $primary-darken;
	}
}

.new-skills {
	&--header {
		font-size: 24px;
		
	}
	&--text {
		font-size: 18px;
	}
}



/* 
------------------------------------- contact
*/
#contact {
	background-image: url(../images/bg.png);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.contact-box {
	// background-color: $primary-darken;
	border-radius: 3px;
	text-align: center;
	padding: 10px;
	a {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: $black;
	}
	i {
		font-size: 72px;
	}

	&--label {
		margin: 3px 0;
	}

	&:hover {
		background-color: rgba(245, 242, 248, 0.6);
	}
}

/* 
------------------------------------- footer
*/
footer {
	text-align: center;
	padding: 40px 0px;
	background-color: $primary;
}

/* 
------------------------------ DARK
*/
body.dark {
	color: $dark-white;

	.section-head {
		color: $dark-black;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(179,183,82), rgba(0, 0, 0, 0));
		}

	.toTop, .toggleMode {
		color: $dark-white;
	}

	.stargroup {
		display: inherit;
	}

	header {
		background-color: $dark-primary;
	}

	.nav-list a {
		color: $dark-white;
	}

	.nav-list a:hover {
		border-bottom: 3px solid $dark-white;
	}

	.nav-list {
		background-color: $dark-primary;
	}

	#home {
		background-image: unset;
		background-color: transparent;
		

		h1 {
			color: $dark-white;
		}

		h2 {
			color: $dark-white;
		}
	}

	.gems {
		display: none;
	}

	#about {
		background-color: $dark-black;

		.me {
			border: unset;
			filter: brightness(75%);
			
		}

		.about-text {
			color: $dark-white;
		}
	}

	#projects {
		background-image: unset;
		background-color: transparent;

		h3 {
			color: $dark-yellow;
			font-style: unset;
		}
		
		img {
			box-shadow: 0px 3px 6px $dark-white;
			filter: brightness(75%);
		}
	}

	#skills {
		background-color: $dark-black;
	}

	.resume {
		div {
			background-color: $dark-primary-lighten;
		}
		h3 {
			background-color: $dark-primary;
		}
		&--heading {
			color: $dark-yellow;
		}
	}

	#contact {
		background-image: unset;
		background-color: transparent;
	}

	.contact-box {
		a {
			color: $dark-white;
		
			&:hover {
				color: $dark-black;
			}
		}
		&:hover {
			background-color: rgba(234, 232, 255, 0.6);
			
		}
	}

	footer {
		background-color: $dark-primary;
	}
}

// STARS
.stargroup{
	background: radial-gradient(ellipse at top, $dark-primary-darken 0%, #000 100%);
	height: 100vh;
	width: 100%;
}

@function generateStars ($n) { 
  $value: '#{random(2000)}px #{random(2000)}px #eae8ff';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #eae8ff';
	}
  @return unquote($value);
}

$stars-small:  generateStars(1000);
$stars-medium: generateStars(400);
$stars-big:    generateStars(100);

#group1 {
	box-shadow: $stars-small;
	width: 1px;
	height: 1px;
	animation	: stardrop 75s linear infinite;
	animation-delay:-25s;
	}
#group2 {
	box-shadow: $stars-medium;
	width: 2px;
	height: 2px;
	animation	: stardrop 100s linear infinite;
	animation-delay:-20s;
}
#group3 {
	box-shadow: $stars-big;
	width: 3px;
	height: 3px;
	animation: stardrop 125s linear infinite;
	animation-delay:-20s;
}

@keyframes stardrop {
	from { transform: translateY(-2000px) }
	to { transform: translateY(0) }
}
