/*------------------------------*\
#IMPORTS
\*------------------------------*/
@import "_variables.scss";
@import "_stars.scss";
@import "_eye.scss";




/*------------------------------*\
#RESETS
\*------------------------------*/
*, 
*:before, 
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

body {
	min-height: 100vh;
	line-height: 1.5;
}

img,
picture {
	display: block; 
	max-width: 100%;
}

button {
	background-color: transparent;
	border: none;
}




/*------------------------------*\
#GENERAL
\*------------------------------*/
body {
	font-family: "Ubuntu", sans-serif;
	color: $black;
}

.section-head {
	width: 60%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(255,250,153), rgba(0, 0, 0, 0));
	padding: 1em;
	text-align: center;
	transition: width 0.5s;
	margin-bottom: 15px;
	

	&:hover, &:active, &:focus {
		width: 100%;
	}

	h2 {
		
		font-size: 24px;
	}
}

.grid-container {
	padding: 75px 15px;
}

.stargroup {
	display: none;
	position: fixed;
	z-index: -1;
}

.toTop {
	position: fixed;
	bottom: 15px;
	right: 15px;
	font-size: 48px;
	color: $black;
	opacity: 0.5;
	animation: bounce 2s infinite linear;
	&:hover {
		opacity: 1;
	}
}
.toggleMode {
	position: fixed;
	bottom: 15px;
	left: 15px;
	font-size: 48px;
	color: $black;
	opacity: 0.5;
	animation: bounce 2s infinite linear;
	&:hover {
		opacity: 1;
	}
}

@keyframes bounce {
	from { transform: translateY(0) }
	to { transform: translateY(-10px) }
}



/*------------------------------*\
#NAVIGATION
\*------------------------------*/
header {
	background-color: $primary;
}

.navbar {
	padding: 10px;
}

.nav-list a {
	color: $black;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	z-index: 2;
	padding: 0 3px;

	@media (max-width: 767px) {
		display: block;
	}

	&:hover, &:active, &:focus {
		&:after {
			height: 100%;

			@media (min-width: 768px) {
				height: 10px;
			}
		}
	}

	&:after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		right: 0;
		height: 0;
		background-color: $yellow;
		transition: all .33s ease-in-out;
		z-index: -1;
	}
}

.nav-list li {
	padding: 10px;
	text-align: center;
}

.nav-icon span, .nav-icon span:before, .nav-icon span:after {
  background-color: #d8d7d8;
  height: 2px;
  width: 30px;
}
.nav-icon.nav-open span {
  background-color: transparent;
}

.nav-list {
	background-color: $primary;
	top: 75px;
}

.nav-logo img {
	width: 3.5em;
	border-radius: 50%;
}

/*------------------------------*\
#SPLASH
\*------------------------------*/

#home {
	background-image: url(../images/bg.png);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 95vh;

	h1 {
		color: $black;
		font-size: 4em;
	}

	h2 {
		color: $black;
		font-size: 1.5em;
	}
}

.gems {
	margin-top: 1em;
	height: 100px;
	animation: rotateMe 2s infinite linear;
}

.lid {
	display: none;
}

@keyframes rotateMe {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-15deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

/*------------------------------*\
#ABOUT
\*------------------------------*/
#about {
	background-color: $white;

	.me {
		max-width: 60%;
		border: 2px solid $black;
		border-radius: 50%;
	}

	.about-text {
		font-size: 20px;
		color: $black;
	}

	.new-skills {
		&--header {
			font-size: 24px;
			margin-top: 15px;
		}
		&--text {
			font-size: 18px;
		}
	}
}



/*------------------------------*\
#PROJECTS
\*------------------------------*/
#projects {
	background-image: url(../images/bg.png);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	
	.project {
		&:not(:last-of-type) {
			@media(min-width:768px) {
				margin-bottom: 50px;
			}
		}
		&:nth-child(even) {
			@media(max-width: 768px) {
				flex-direction: column-reverse;
			}
		}

		&__links {
			margin-top: 5px;
			a {
				color: $black;
				font-size: 24px;
				text-decoration: none;
				padding: 5px;
				transition: all .33s ease-in-out;

				&:hover, &:active, &:focus {
					color: $yellow;
				}
			}
		}
	}

	

	h3 {
		font-size: 24px;
		font-style: italic;
	}

	p {
		@media(min-width:768px) {
			font-size: 18px;
			padding: 0 10px;
			margin: 3px 0;
		}
	}

	img {
		box-shadow: 0px 2px 4px $black;
		border-radius: 3px;
		min-width: 100%;

		&:hover, &:active, &:focus {
			box-shadow: 0px 4px 8px $black;
		}
	}
}


/*------------------------------*\
#SKILLS
\*------------------------------*/
#skills {
	background-color: $white;
}

.resume {
	div {
		background-color: $primary-lighten;
		border-radius: 3px;
	}
	h3 {
		font-size: 20px;
		background-color: $primary;
		padding: 10px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		text-align: center;
		
	}
	p {
		
		text-transform: lowercase;
		letter-spacing: .5px;
		padding: 15px;
		margin: 3px 0;
	}
	&--heading {
		font-size: 18px;
		color: $primary-darken;
	}
}



/* 
------------------------------------- contact
*/
#contact {
	background-image: url(../images/bg.png);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.contact-box {
	border-radius: 3px;
	text-align: center;
	padding: 10px;
	a {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: $black;
	}
	i {
		font-size: 72px;
	}

	&--label {
		margin: 3px 0;
	}

	&:hover, &:active, &:focus {
		background-color: rgba(245, 242, 248, 0.6);
	}
}



/* 
------------------------------------- footer
*/
footer {
	text-align: center;
	padding: 40px 0px;
	background-color: $primary;
}






/* 
------------------------------ DARK
*/
body.dark {
	color: $dark-white;

	.section-head {
		color: $dark-black;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(179,183,82), rgba(0, 0, 0, 0));
		}

	.toTop, .toggleMode {
		color: $dark-white;
	}

	.stargroup {
		display: inherit;
	}

	header {
		background-color: $dark-primary;
	}

	.nav-list a {
		color: $dark-white;

		&:after {
			background-color: darken($dark-yellow, 10%);
		}
	}

	.nav-list {
		background-color: $dark-primary;
	}

	.nav-icon {
		> span {
			background-color: $white;
		}
	}

	#home {
		background-image: unset;
		background-color: transparent;
		

		h1 {
			color: $dark-white;
		}

		h2 {
			color: $dark-white;
		}
	}

	.gems {
		display: none;
	}

	.lid {
		display: flex;
	}

	#about {
		background-color: $dark-black;

		.me {
			border: unset;
			filter: brightness(75%);
			
		}

		.about-text {
			color: $dark-white;
		}
	}

	#projects {
		background-image: unset;
		background-color: transparent;

		.project {
			&__links {
				a {
					color: $dark-white;

					&:hover, &:active, &:focus {
						color: $yellow;
					}
				}
			}
		}

		h3 {
			color: $dark-yellow;
			font-style: unset;
		}
		
		img {
			box-shadow: 0px 2px 4px $dark-white;
			filter: brightness(75%);

			&:hover, &:active, &:focus {
				box-shadow: 0px 4px 8px $dark-white;
			}
		}
	}

	#skills {
		background-color: $dark-black;
	}

	.resume {
		div {
			background-color: $dark-primary-lighten;
		}
		h3 {
			background-color: $dark-primary;
		}
		&--heading {
			color: $dark-yellow;
		}
	}

	#contact {
		background-image: unset;
		background-color: transparent;
	}

	.contact-box {
		a {
			color: $dark-white;
		
			&:hover, &:active, &:focus {
				color: $dark-black;
			}
		}
		&:hover, &:active, &:focus {
			background-color: rgba(234, 232, 255, 0.6);
		}
	}

	footer {
		background-color: $dark-primary;
	}
}
