/*
------------------------------ Imports and mixins
*/
/* 
------------------------------ General
*/
body {
  font-family: "Ubuntu", sans-serif;
  color: #252525;
}

body.dark {
  color: #252525;
}

.section-head {
  width: 60%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#fffa99), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #fffa99, rgba(0, 0, 0, 0));
  padding: 1em;
  text-align: center;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.section-head:hover {
  width: 100%;
}

.section-head h2 {
  font-size: 24px;
}

.grid-container {
  padding: 37px 10px 75px 10px;
}

.toTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 48px;
  color: #252525;
  opacity: 0.5;
}

.toTop:hover {
  opacity: 1;
}

/* 
------------------------------ Navigation
*/
header {
  background-color: #BBA1CE;
}

.navbar {
  padding: 10px;
}

.nav-list a {
  color: #252525;
  font-size: 18px;
  text-decoration: none;
}

.nav-list li {
  padding: 10px;
}

.nav-list a:hover {
  border-bottom: 3px solid #F5F2F8;
}

.nav-icon {
  top: 25px;
  right: 10px;
}

.nav-icon--menu, .nav-icon--close {
  font-size: 24px;
}

.nav-list {
  background-color: #BBA1CE;
}

.nav-logo img {
  width: 3.5em;
  border-radius: 50%;
}

/*
-------------------------------------- splash
*/
#home {
  background-image: url(../images/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
}

#home h1 {
  color: #252525;
  font-size: 4em;
}

#home h2 {
  color: #252525;
  font-size: 1.5em;
}

.gems {
  margin-top: 1em;
  height: 100px;
  -webkit-animation: rotateMe 2s infinite linear;
          animation: rotateMe 2s infinite linear;
}

@-webkit-keyframes rotateMe {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotateMe {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* 
---------------------------------------- about
*/
#about {
  background-color: #f0f0f0;
}

#about .me {
  max-width: 90%;
  border: 2px solid #252525;
  border-radius: 50%;
}

#about .about-text {
  font-size: 22px;
  color: #252525;
}

/* 
----------------------------------- projects
*/
#projects {
  background-image: url(../images/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 768px) {
  #projects .project:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  #projects .project:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#projects h3 {
  font-size: 24px;
}

@media (min-width: 768px) {
  #projects p {
    font-size: 18px;
  }
}

#projects img {
  -webkit-box-shadow: 0px 3px 6px #252525;
          box-shadow: 0px 3px 6px #252525;
  margin-bottom: 10px;
  min-width: 100%;
}

/*
------------------------------------- skills
*/
#skills {
  background-color: #F5F2F8;
}

.resume div {
  background-color: #E2D7EA;
  border-radius: 3px;
}

.resume h3 {
  font-size: 20px;
  background-color: #BBA1CE;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: right;
}

.resume p {
  text-transform: lowercase;
  letter-spacing: .5px;
  padding: 15px;
}

.resume--heading {
  font-size: 18px;
}

.new-skills--header {
  font-size: 24px;
}

.new-skills--text {
  font-size: 18px;
}

/* 
------------------------------------- contact
*/
#contact {
  background-image: url(../images/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.contact-box {
  border-radius: 3px;
  text-align: center;
  padding: 10px;
}

.contact-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #252525;
}

.contact-box i {
  font-size: 72px;
}

.contact-box--label {
  margin: 3px 0;
}

.contact-box:hover {
  background-color: rgba(245, 242, 248, 0.6);
}

/* 
------------------------------------- footer
*/
footer {
  text-align: center;
  padding: 40px 0px;
  background-color: #BBA1CE;
  color: #252525;
}

/* 
------------------------------------- Media Queries
*/
/*# sourceMappingURL=main.css.map */